{% extends 'index.html'%}
{% load i18n %}

{% block page%}

<div id="login-form">
  <h1>{{ SVEN_NAME}}</h1>

  <div style="width: 260px; margin: 0px auto">
    <div id="login-area">
      
      <form role="form" method="POST" action="{% url 'sven_login' %}">
        <div class="form-group">
          <label for="id_login_username">username</label>
          <input type="text" class="form-control" id="id_login_username" autofocus="autofocus" name="username" placeholder="username" >
        </div>

        <div class="form-group">
          <label for="id_login_password">password</label>
          <input type="password" class="form-control" id="id_login_password" placeholder="Password" name="password">
      </div>
      <div>
         <input type="hidden" value="{{ next }}" name="next" />
    {% csrf_token %}
        <button class="btn btn-block btn-primary" ng-click="login()">LOGIN <i class="fa fa-unlock"></i></button>
        {{error}}
      </div>
      </form>
    </div>
  </div>

  
</div>
{%endblock%}

