BeautifulSoup==3.2.1
Django==1.6.2
Markdown==2.4
Pillow==2.4.0
PyYAML==3.11
Whoosh==2.6.0
cssselect==0.9.1
django-cors-headers==0.13
django-websocket-request==0.1.1
goose-extractor==1.0.22
ipython==1.2.1
jieba==0.32
langid==1.1.4dev
lorem-ipsum-generator==0.3
lxml==3.3.5
micawber==0.3.0
nltk==2.0.4
numpy==1.8.0
six==1.6.1
tweepy==2.3.0
unicodecsv==0.9.0
wsgiref==0.1.2
