BeautifulSoup==3.2.1
cssselect==0.9.1
decorator==4.0.2
Django==1.8.4
django-cors-headers==0.13
django-websocket-request==0.1.1
goose-extractor==1.0.25
jieba==0.38
langid==1.1.4.dev0
lorem-ipsum-generator==0.3
lxml==3.6.0
Markdown==2.4
micawber==0.3.3
MySQL-python==1.2.5
networkx==1.10
nltk==3.2
numpy==1.8.0
Pillow==3.1.1
pytz==2015.2
PyYAML==3.11
readline==6.2.4.1
six==1.6.1
tweepy==2.3.0
unicodecsv==0.9.0
Whoosh==2.6.0
