BeautifulSoup==3.2.1
Django==1.8.4
MySQL-python==1.2.5
Pillow==2.5.1
PyYAML==3.11
Whoosh==2.6.0
cssselect==0.9.1
decorator==4.0.2
flup==1.0.2
goose-extractor==1.0.20
jieba==0.32
langid==1.1.4dev
lxml==3.3.5
micawber==0.3.0
networkx==1.10
nltk==2.0.4
numpy==1.8.1
tweepy==2.3.0
unicodecsv==0.9.4
wsgiref==0.1.2
