@import 'base.less';

@black:  #001A25;

html {
  font-size: 62.5%;
  height: 100%;
}


body{
  font: 1.3em/1.618em 'Source Sans Pro', sans-serif;
  background-color: #fff;
  height:100%;
  padding: 0;
  margin: 0;
  color: @black;
}


h1,h2,h3,h4,h5{
  font: 2rem/1.618em 'Source Sans Pro', sans-serif;
}

a{
  color: #046971;
  text-decoration: none;
}
/* #Page Styles
================================================== */
button, a.boo {
  font: 1.2rem/1.618em 'Source Code Pro', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  background: #ec5148;
  color: #f9eedc;
  text-align: center;
  display: inline-block;
  border-radius:2px;
  padding: 6px 12px;
  margin:0;
  text-shadow: none;
  border-width: 0px;
  -webkit-transition: background 200ms ease-in-out;
   -moz-transition: background 200ms ease-in-out;
     -o-transition: background 200ms ease-in-out;
        transition: background 200ms ease-in-out; /* easeOutQuint */


}


button:hover, a.boo:hover{
  background: #ff5450;
  color: white;
  border-width: 0px;
}


button::disabled{
  background: #ccc;
}


label{
  display: block;
  font-size: 1.2rem;
}


@mod: 6px;
@mod2: 36px;
@margin: @mod * 4;
@header_height: @mod * 6;
@sidebar_width: @mod * 36;

header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: @header_height + 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  >.wrapper{
    position: relative;
    margin: 0 @mod*4;
    padding: 0;
    border-bottom: 1px solid #EADBC4;
    background: #ffffff;
    height: @header_height + 2px;
  
  }

  h1{
    font: 1.2rem/@mod2 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    margin-left: @margin/2;
    color: #D70206;
  }

  .bottom-line{
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #181818;
    height: 1px;
    width: 100%;

  }
}


sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0;
  width: @sidebar_width;
  z-index: 999;
  
  >.wrapper{
    margin: @header_height + 2px 0 0 @margin;
    padding: 0;//@mod*2;//@margin;
    border-right: 1px solid #EADBC4;
    min-height: 400px;
  }

  input[type="text"]{
    width: 139px;
    margin: 0;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid black;
    line-height: 32px;
    padding: 0 12px;
    margin: 12px;
  }
}


.main{
  margin: @header_height @margin @header_height @sidebar_width;
 
  >.wrapper{
     padding: @margin;
  }

  .view-nav{
    border-bottom: 1px solid #EADBC4;
    
    >.wrapper{
      padding: @margin/2;
      
      h2{
        font-weight: bold;
        font-size: 1.6rem;
      }

      h3{
        color: #b7b7b7;
        font-size: 1.3rem;
        line-height: 1rem;
      }
    }
  }

  .view{
    >.wrapper{
      padding:0;
    }
  }

  .blackboard{
    background: #151515;
    color: white;
    font: 1.1rem/1.618 'Source Code Pro';
    padding: 12px 18px;
    min-height: @mod * @mod * @mod;
  }
}



#login{
  margin: 0 auto;
  width: @mod * 40;

  p{
    margin: @mod*4 0;
  }
}



#user{
  position: absolute;
  top: 0;
  right: @margin/2;
  line-height: @header_height;

  .picture{
    display: block;
    float: left;
    height: 24px;
    overflow: hidden;
    width: 24px;
    border-radius: 12px;
    margin: @header_height/2 - 24px/2 0 0 0;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .username{
    float: left;
    margin-left: @mod*2;
  }
}



.corpus{
  padding: @mod @mod @mod @mod*2;
  border-top: 1px solid #EADBC4;

  .name{
    color: #b7b7b7;
  }
}


ul.plain-list{
  margin: 0;// @margin;
  
  li{
    overflow: auto;
    width: 100%;
    clear:both;

    &:nth-child(odd){
      background: lighten(#EADBC4, 10%);
    }

    .plain-list-item{
      padding: @mod @mod*2;
    }
  }
}

// # pseudogrid
.g{
  float:left;
}

.g-1{
  float:left;
  width:10%;
}
.g-4{
  float:left;
  width:40%;
}
.g-4{
  float:left;
  width:40%;
}


/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 800;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
}

/* line 8, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  padding: 7px;
  width: 69px;
  background: #f6f6f6;
  color: #888888;
  bottom: 0;
  left: 20px;
}
/* line 20, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content {
  padding-left: 16px;
}
/* line 23, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 8px;
  margin: auto;
  height: 9px;
  width: 9px;
}
/* line 37, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
  background: #80d580;
}
/* line 42, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
  background: #ec8787;
}