@import 'base.less';


html {
  font-size: 62.5%;
  height: 100%;
}


body{
  font: 1.3em/1.618em 'Source Sans Pro', sans-serif;
  background-color: #fff;
  height:100%;
  padding: 0;
  margin: 0;
  color: #001A25;
}


h1,h2,h3,h4,h5{
  font: 2rem/1.618em 'Source Sans Pro', sans-serif;
}

a{
  color: #046971;
  text-decoration: none;
}
/* #Page Styles
================================================== */
button, a.boo {
  font: 1.2rem/1.618em 'Source Code Pro', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  background: #ec5148;
  color: #f9eedc;
  text-align: center;
  display: inline-block;
  border-radius:2px;
  padding: 6px 12px;
  margin:0;
  text-shadow: none;
  border-width: 0px;
  -webkit-transition: background 200ms ease-in-out;
   -moz-transition: background 200ms ease-in-out;
     -o-transition: background 200ms ease-in-out;
        transition: background 200ms ease-in-out; /* easeOutQuint */


}


button:hover, a.boo:hover{
  background: #ff5450;
  color: white;
  border-width: 0px;
}


button::disabled{
  background: #ccc;
}


label{
  display: block;
  font-size: 1.2rem;
}


@mod: 6px;
@mod2: 36px;
@margin: @mod * 4;
@header_height: @mod * 6;
@sidebar_width: @mod * 36;

header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: @header_height + 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  >.wrapper{
    position: relative;
    margin: 0 @mod*4;
    padding: 0;
    border-bottom: 1px solid #EADBC4;
    background: #ffffff;
    height: @header_height + 2px;
  
  }

  h1{
    font: 1.2rem/@mod2 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    margin-left: @margin/2;
    color: #D70206;
  }

  .bottom-line{
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: #181818;
    height: 1px;
    width: 100%;

  }
}


sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0;
  width: @sidebar_width;
  z-index: 999;
  
  >.wrapper{
    margin: @header_height + 2px 0 0 @margin;
    padding: @mod*2;//@margin;
    border-right: 1px solid #EADBC4;
    min-height: 400px;
  }
}


.main{
  margin: @header_height @margin @header_height @sidebar_width;
 
  >.wrapper{
     padding: @margin;
  }

  .view-nav{
    border-bottom: 1px solid #EADBC4;
    >.wrapper{
      padding: @margin;
    }
  }

  .view{
    >.wrapper{
      padding: @margin;
    }
  }
}

#login{
  margin: 0 auto;
  width: @mod * 40;

  p{
    margin: @mod*4 0;
  }
}

#user{
  position: absolute;
  top: 0;
  right: @margin/2;
  line-height: @header_height;

  .picture{
    display: block;
    float: left;
    height: 24px;
    overflow: hidden;
    width: 24px;
    border-radius: 12px;
    margin: @header_height/2 - 24px/2 0 0 0;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .username{
    float: left;
    margin-left: @mod*2;
  }
}