<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{{STATIC_URL}}/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/bower_components/ng-tags-input/ng-tags-input.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="{{STATIC_URL}}/app/styles/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/app/styles/simple-sidebar.css">
    <!-- endbuild -->
  </head>
  <body ng-app="svenClientApp">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    {% block page%}
    {% verbatim %}
    <div id="wrapper" ng-cloak ng-controller="CoreCtrl">
        <!-- header -->
        <div id="header-wrapper" class="{{status}}">
          <div id="header">
            <div id="menu-toggle" class="fa fa-bars">&nbsp;</div>
            <h1>SVEN</h1>
          </div>
        </div>

        <div id="loader-wrapper" class="{{status}}">
                    <h4>loading ...</h4>
                    <div style="margin-top: 20px;" class="loader"></div>
                </div>
        <!-- Sidebar -->

        <div id="sidebar-wrapper" class="{{status}}">
            <ul class="sidebar-nav">
                <li class="profile">
                  <div class="circle"><img ng-src="{{profile.picture}}"></div>

                  <div class="user">
                    <a href="#/profile" class="username">{{profile.firstname? profile.firstname + ' ' +profile.lastname: profile.username}}</a>
                    <div class="logout"><a href="/logout">logout {{profile.username}}</a></div>

                  </div>

                </li>


                
                <li class="spacer"></li>
                <!-- li class="corpus sidebar-brand">
          
                  <a ng-href="#/corpus/{{corpus.id}}">
                    <h4>{{corpus.name}}
                      <div ng-show="corpus.jobs.length" class="percentage {{corpus.jobs[0].status}}"> {{corpus.jobs[0].completion|percentage}}</div>
                    </h4>
                  </a -->

                  <!-- a href="#/corpus/{{corpus.id}}/documents" style="text-indent: 0;">
                    <strong>{{corpus.count.documents}}</strong> documents</a>,
                  <a href="#/corpus/{{corpus.id}}/concepts" style="text-indent: 0;">
                    <strong>{{corpus.count.clusters}}</strong> concepts</a>
                  
                  <div class="row">
                    <div class="col-lg-6 col-xs-6">
                      <a class="left" href="#/corpus/{{corpus.id}}/documents/new" style="text-indent: 0">
                        <span>add url</span> <i class="fa fa-plus"></i>
                      </a>   
                    </div>
                    <div class="col-lg-6 col-xs-6">
                      <div class="uploader" ng-file-select="onFileSelect($files)" data-multiple="true">
                        <span>upload</span> <i class="fa fa-upload"></i>
                      </div>
                    </div>
                  </div -->
                  <!-- div ng-show="corpus.jobs.length" class="bar {{corpus.jobs[0].status}}">
                    <div class="completion" style="width:{{corpus.jobs[0].completion*100}}%"></div -->

                    <!-- div class="spinner" ng-show="corpus.jobs[0].status=='RUN'" style="left:{{corpus.jobs[0].completion*100}}%">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div-->
                  <!-- /div>
                </li -->
                <!-- other (not selected) user's corpora -->
                <li class="corpus {{corpus.id == cor.id? 'selected': ''}}" ng-repeat="cor in corpora">
                  <a ng-click="activate(cor)" ng-href="#/corpus/{{cor.id}}/documents">
                    {{cor.name}} ({{cor.count.documents}})
                    <span ng-show="cor.jobs.length" class="percentage {{cor.jobs[0].status}}">
                        {{cor.jobs[0].completion|percentage}}
                    </span>
                    <div ng-show="cor.jobs.length" class="bar {{cor.jobs[0].status}}">
                      <div class="completion" style="width:{{cor.jobs[0].completion*100}}%"></div>
                    </div>
                  </a>
                </li>

                
                
                <!-- li>
                    <a href="#">Contact</a>
                </li -->
            </ul>
            
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" ng-if="status=='RUNNING'" style="position: relative">
                <!-- if filters ... -->
                <!-- div style="position: fixed; height: 100%; width: 200px; margin-left: -230px; background: #b1b2ab"> 
                   filtering by
                </div -->
              
                <div class="row" ng-show="!reload_corpora">
                    <div class="col-lg-12" ng-view>
                        
                        
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->


        <!-- #modal-attach tag -->
        <div ng-controller="ModalTagCtrl">
          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Attach tag to {{item.name}}</h3>
              </div>
              <div class="modal-body">
                  <form role="form" ng-submit="save()">
                    <div class="form-group">
                      <input type="text" ng-model="candidate" class="form-control">
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
          </script>
        </div>

        <!--#modal -->
        <div ng-controller="ModalPreviewTsvCtrl">
          <script type="text/ng-template" id="previewTsv.html">
              <div class="modal-header">
                  <h3 class="modal-title">hello</h3>
              </div>
              <div class="modal-body">
                <table>
                  <thead>
                    <tr>
                      <th ng-repeat="cell in table.headers">{{cell}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in table.rows">
                      <td style="overflow: hidden; width:{{100/table.rows.length}}%" ng-repeat="cell in row track by $index">{{cell}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
          </script>
        </div>
        


    </div>
    {% endverbatim %}
    {%endblock%}
    <!-- /#wrapper -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!-- script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script -->

    <!-- build:js(.) app/scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    
    <script src="{{STATIC_URL}}/bower_components/ace-builds/src-min-noconflict/ace.js"></script>

    <!-- build:js(.) app/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{{STATIC_URL}}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{{STATIC_URL}}/bower_components/es5-shim/es5-shim.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular/angular.js"></script>
    <script src="{{STATIC_URL}}/bower_components/json3/lib/json3.js"></script>
    <script src="{{STATIC_URL}}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-resource/angular-resource.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-animate/angular-animate.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-touch/angular-touch.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-route/angular-route.js"></script>
    <script src="{{STATIC_URL}}/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="{{STATIC_URL}}/bower_components/d3/d3.js"></script>
    <script src="{{STATIC_URL}}/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="{{STATIC_URL}}/bower_components/angular-ui-ace/ui-ace.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="{{STATIC_URL}}/app/scripts/jquery/jquery.toastmessage.js"></script>
    
        <!-- build:js({.tmp,app}) app/scripts/scripts.js -->
        <script src="{{STATIC_URL}}/app/scripts/app.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/main.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/about.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/documents.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/core.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/services/documents.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/document.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/concepts.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/concept.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/services/core.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/profile.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/corpus.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/d3/venn.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/d3/d3.snark.matrix.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/directives/venn.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/filters/tag.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/services/concepts.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/directives/concepts.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/stopwords.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/modals.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/controllers/search.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/directives/vimeo.js"></script>
        <script src="{{STATIC_URL}}/app/scripts/directives/youtube.js"></script>
               <!-- endbuild -->

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>
