<div class="row">
  <div class="loader" ng-if="!document.id"></div>
  <div class="col-lg-6" >

    <h2>{{document.name}}</h2>
    <form role="form" ng-submit="save()">
      <div class="form-group">

        <label>title</label>
        <input type="text" ng-model="document.name" class="form-control">
      
      </div>
      <div class="form-group">

        <label>date</label>
        <div>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup='dd-MMMM-yyyy' ng-model="document.date" is-open="opened" min-date="'1900-06-22'" max-date="'2015-06-22'" ng-required="false" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div>
      
      </div>

      <div class="form-group">
        <label>tag document</label>
        <div class="description">search for already existing tags, or add new ones (format: category:tag)</div>
        <tags-input template='{{"views/partials/typeahead-tag.html"|template}}'
          ng-model="document.tags"
          replace-spaces-with-dashes="false"
          on-tag-removed="detachTag(document, $tag)"
          display-property="name">
          <auto-complete load-on-down-arrow="true" select-first-match='true' source="suggest($query)" template='{{"views/partials/typeahead-autocomplete.html"|template}}' display-property='name'></auto-complete>
        </tags-input>
      <!-- <div class="form-group">
        on-tag-added="attachTag(document,'tm',$tag)" on-tag-removed="detachTag(document,'tm',$tag)"
        <label>type of media</label>

        <tags-input
          ng-model="document.tags.type_of_media"
          replace-spaces-with-dashes="false"
          on-tag-added="attachTag(document,'tm',$tag)" on-tag-removed="detachTag(document,'tm',$tag)"
          display-property="name" add-from-autocomplete-only="true">
          <auto-complete load-on-down-arrow="true" min-length="2" source="suggestTags(query, 'tm')"></auto-complete>
        </tags-input>

      </div>
      <div class="form-group">

        <label>actors involved</label>
        <tags-input ng-model="document.tags.actor" replace-spaces-with-dashes="false" display-property="name"  on-tag-added="attachTag(document,'ac',$tag)" on-tag-removed="detachTag(document,'ac',$tag)"></tags-input>

      </div>
      <div class="form-group">

        <label>free tags</label>
        <tags-input ng-model="document.tags.tags" replace-spaces-with-dashes="false" display-property="name" on-tag-added="attachTag(document,'fr',$tag)" on-tag-removed="detachTag(document,'fr',$tag)"></tags-input>

      </div> -->
      <div class="form-group">

        <label>abstract</label>
        <textarea ng-model="document.abstract" class="form-control" rows="3"></textarea>
      
      </div>
      <div class="form-group">

        <label>url address</label>
        <input type="text" ng-model="document.url" class="form-control">
     
      </div>
      
      <div class="btn-group">
        <a class="btn btn-default" ng-href="#/document/{{document.id}}" ><i class="fa fa-angle-left"></i> back to the document</a> 
        <button class="btn btn-primary">save changes</button>
      
      </div>
      
    </form>

  </div>
  <div class="col-lg-6">
     <div class="form-group" style="margin-top:40px">

        <label>text content</label>
    <div class="content" ng-bind-html="document.text|htmltext">
        
      </div>
    </div>
  </div>
</div>