/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

a{
  color: #666;
}

a:hover{
  color: black;
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}





/*  mods */
body {
  font: 14px/1.814em 'Open Sans', sans-serif;
}

#header-wrapper {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top:0;
  left: 0;
  z-index: 1001;
  /*border-bottom: 1px solid #ddd;*/
  background: #fff;
  font: 1em/40px sans-serif;
  top: -100px;
  transition: top .3s ease-in-out;
}
#header-wrapper.RUNNING{
  top:0;
}



#header {
  background: #f5f5f5;
  padding: 0 20px;
}

#header h1 {
  text-align: center;
  position: absolute;
  top: 0px;
  left:50%;
  width: 200px;
  font: 14px/40px 'Open Sans', sans-serif;
  font-weight: 700;
  padding:0;
  margin: 0;
  margin-left: -100px;
  
}




#login-form h1{
  font: 14px/40px 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

#login-form label{
  font-weight: normal;
  
}

#login-area{
  border-top: 1px solid #ddd;
padding-top: 15px;
}

li.corpus{
  border-bottom: 1px solid #ddd;
}

li.corpus h4{
  font-size: 15px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
}

li.corpus h4 .percentage{
  display: none;
}

li.corpus h4 .percentage.RUN{
  display: inline;
  font-size: 13px;
}


li.spacer{
  border-top: 1px solid #ddd;
  margin-top: 1px;
}

.sidebar-nav li.profile{
  padding: 20px;
  /*border-bottom: 1px solid #ddd;*/
}

.sidebar-nav li.a {
  color: #666;
}

.circle{
  display: block;
  height: 40px;
  width: 40px;
  text-indent: 0px;
  float: left;
  overflow: hidden;
 
}

.user{
  text-indent: 0px;
  
  margin-left: 55px;
  margin-right: 20px;
}

.user .username{
  line-height: 20px;
  display: block;
  color: #181818;
  font-size: 15px;
}

.user .logout {
  line-height: 20px;
  font-size: 13px;
}

.user .logout a {

}



.circle img{
  height: 40px;
  width: 40px;
}


.uploader {
  margin-right: 0px;
  text-align:right;
  cursor: pointer;
}

.uploader:hover{
  color: #333;
}

.uploader span{
  padding-right:5px;
}

.bar{
  height: 2px;
  width: 0;
  position: relative;
  background: #ddd;
  transition: all .3s ease-in-out;
  margin-bottom: 0;
}

.bar.RUN{
  width:100%;
  margin-bottom: 10px;
}

.completion {
  position: absolute;
  height: 2px;
  background-color: #199e9a;
  width: 0;
  -webkit-transition: width .4s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: width .4s ease-in-out;
}

.bar.END{
  width:0;
}

.percentage{
  visibility: hidden;
  font-size: 14px;
  background-color: #dee2e1;
  padding: 0px 2px;
  color: #199e9a;
}

.percentage.RUN{
  visibility: visible;
}

.item{
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.item .action {
  opacity: 0.17;
  pointer-events: none;
}

.item:hover .action{
  opacity: .5;
  pointer-events: auto;
  cursor: pointer;
}

.item .action:hover{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.item h3 {
  margin-top: 10px;
}

.item .tag{

  margin-right: 5px;
  display: inline-block;
  font-size: 1em;
  color: #777;
}

.tag{
  color: #777;
  cursor: pointer;
  background: #fafafa;
  margin: 0px 6px;
}
.tag:hover{
  color: black;
}
.tags{
  padding: 12px;
}



/*~~~~~~~~//////~~~~~~~~*/
.btn-link {
  font-weight: normal;
  color: #666;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 1px solid #666;
}

.btn-link:hover{
  text-decoration: none;
  color: #181818;
  border-bottom: 1px solid #181818;
}

.tooltip {
  pointer-events:none; /*let mouse events pass through*/
  opacity:0;
  text-align: center;
  /* background: #383838; */
  color: white;
  transition: opacity .3s;
  padding: 4px 7px;
  border-radius:2px;
}

.tooltip .tooltip-inner{
  background: #383838;
  padding: 7px 11px;
}

.tooltip .tooltip-arrow{
  display: none;
}


/* #Toastmessage JQUERYPlugin css
================================================== */

.toast-container{z-index:9999;}
* html .toast-container{position:absolute;}
.toast-item{
  height:auto;
  background:#181818;
  opacity:.9;
  border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  color:white;
  padding: 8px 12px;
  display:block;
  position:relative;
  margin:0 0 12px 0;
}
.toast-item h1{
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
  color: white;
  text-align: center;
  margin: 0;
  line-height: 24px;
}
.toast-item p{
  text-align:left;margin:0px;
  font-size:1.2rem;
}
.toast-item-image{display:none}
.toast-type-notice{color:white;}
.toast-type-success{color:white;}
.toast-type-warning{color:white;border-color:#FCBD57;}
.toast-type-error{color:white;border-color:#B32B2B;}
.toast-position-bottom-right{position:fixed;bottom:36px;right:18px;}
.toast-position-bottom-center {
  position: fixed;
  left: 50%;
  margin-left: -140px;
  bottom:36px;
  width: 280px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.spinner {
  width: 6px;
  height: 6px;
  position: absolute;
  margin: 0;
  top: -5px;
  left: 0;
  transition: left .3s ease-in-out;;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.item .abstract{
  
}



@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-2160deg);
    -webkit-transform: rotate(-2160deg);
    transform: rotate(-2160deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-2160deg);
    -webkit-transform: rotate(-2160deg);
    transform: rotate(-2160deg);
  }
}
@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-2160deg);
    -webkit-transform: rotate(-2160deg);
    transform: rotate(-2160deg);
  }
}
@-webkit-keyframes normal-opacity {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes normal-opacity {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes normal-opacity {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loader-wrapper{
  position:absolute;
  left:50%;
  top:150%;
  height:100px;
  width:180px;
  text-align: center;
  margin-left:-90px;
  margin-top: -50px;
  display: none;
}

#loader-wrapper.LOADING{
  top: 50%;
  display: block
}

.loader {
  -webkit-animation: 1.25s spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
  animation: 1.25s spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  overflow: hidden;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 20px solid black;
  border-top-color: #fa4248;
  border-left-color: #5ddbba;
  border-bottom-color: #ede670;
  border-right-color: #64c3f2;
}
.loader:before {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.loader:after {
  -webkit-animation: 1.25s normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
  animation: 1.25s normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
}


/* 
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~~~~~~~~~~~~~~~ SVG ~~~~~~~~~~~~~~~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ...................................
  -----------------------------------
*/
.viewer{
  width:100%;
  height: 500px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}
circle{
  fill: #333;
}
circle:hover{
  fill: red;
}











