<div class="big-item">
  <div class="datetime">{{document.date}}</div>
  <h2>
    #{{document.id}} {{document.name}}
  </h2>
 
  <div class="tags">
    <span class="tag language">{{document.language}}</span>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-2">
    
      <div class="content">
        <div class="text">
        {{document.text}}
        </div>
      </div>

    </div>
    <div class="pure-u-1-2">

      <div class="segments">
        {{ segments.length}}
        <div ng-repeat="segment in segments">

          {{segment.content}}, {{segment.cluster}}, {{segment.max_tf}}
        </div>
      </div>
    
    </div>
  </div>

</div>