<div class="big-item">
  <div class="datetime">{{item.date}}</div>
  <h2>
    #{{item.id}} {{item.name}}
  </h2>
  <div class="language">
    {{item.language}}
  </div>
  <div class="tags"></div>

  <div class="pure-g">
    <div class="pure-u-1-2">
    
      <div class="content">
        <div class="text">
        {{item.text}}
        </div>
      </div>

    </div>
    <div class="pure-u-1-2">

      <div class="segments">
        {{ segments.length}}
        <div ng-repeat="segment in segments">

          {{segment.content}}, {{segment.cluster}}, {{segment.max_tf}}
        </div>
      </div>
    
    </div>
  </div>

</div>