<h2>
  {{localCorpus.name}}
  
</h2>
<p>{{localCorpus.count.documents || 0}} documents</p>
<p>{{localCorpus.count.clusters || 0}} concepts <button class="btn btn-link" ng-click="downloadConcepts()" tooltip="download concept list as csv file">download <i class="fa fa-download"></i></button></p>

<div class="btn-group">
  
</div>

<div class="btn-group" style="margin: 20px 0; text-align: right" dropdown is-open="orderBy.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        {{orderBy.choice.label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in orderBy.choices">
          <a ng-click="changeOrderBy(choice)">{{choice.label}}</a>
        </li>
      </ul>
    </div>

<!-- div class="btn-group">
  <label class="btn btn-default" ng-model="include" btn-radio="'tf'" uncheckable>show all</label>
  <label class="btn btn-default" ng-model="include" btn-radio="'tf_idf'" uncheckable>show IN only</label>
</div -->

<pagination class="btn-group" max-size="5" items-per-page="limit" boundary-links="true" total-items="totalItems" ng-model="$parent.$parent.page" ng-change="changePage($parent.$parent.page)"></pagination>

<concepts data="clusters" groups="groups" measure="measure"><div class="viewer"></div></concepts>
concepts