<div class="row">
  <div class="loader" ng-if="!document.id"></div>
  <div class="col-lg-6" >

    <h2>{{document.name}}</h2>
    <h3>
      {{document.date| date:'dd MMM yyyy'||'no date specified'}}
    </h3>
    <p>uploaded on {{document.date_created | date:'yyyy MMM dd'}}</p>
    <p class="tags">
      <span class="tag" ng-repeat="tag in document.tags.actor" tooltip="{{tag.name}}">{{tag.name|tag}} </span>
    </p>

    <p>
      <a href="{{document.media_txt}}" download>download plain text </a><span ng-if="document.url">or
      <a href="{{document.url}}" target="_blank">follow url <i class="fa fa-link"></i></a></span>
    </p>
    <div class="content">
    {{document.text}}

  </div>
  </div>
  <div class="col-lg-6">

  <div class="col-lg-6">
</div>