<div class="row">
  <div class="loader" ng-if="!document.id"></div>
  <div class="col-sm-6" >
    <!-- big document -->
    <div class="big-item document">
      <h2> {{document.name}}</h2>
      <h3>
        {{document.date| date:'dd MMM yyyy'}}
      </h3>
      <p class="minor date-created">uploaded on <b class="minor">{{document.corpus.name}}</b> at {{document.date_created | date:'yyyy MMM dd'}}</p>
      <p class="tags">

        <span class="tag language" tooltip="language {{document.language}}">{{document.language}}</span>
        <span class="tag type_of_media" ng-repeat="tag in document.tags.type_of_media" tooltip="{{tag.name}}">{{tag.name|tag}} </span>
        <span class="tag" ng-repeat="tag in document.tags.actor" tooltip="{{tag.name}}">{{tag.name|tag}} </span>

      </p>
      <div ng-if="document.tags.oembed_provider_name">
        <div ng-switch="document.tags.oembed_provider_name.slug">
          <div ng-switch-when="vimeo">
            <vimeo width="100%" height="280" videoid="document.tags.oembed_video_id.name"></vimeo>
            
          </div>
          <div ng-switch-when="youtube">
            <youtube  height="document.tags.oembed_height[0].name" url="document.tags.oembed_url[0].name"></youtube>
          </div>
        </div>
      </div>
      
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">

          <a ng-href="#/document/{{document.id}}/edit" class="btn btn-default">edit metadata <i class="fa fa-pencil"></i></a>

        </div>
        <div class="btn-group">

          <a href="{{document.media_txt}}" class="btn btn-default" download>plain text <i class="fa fa-download"></i></a>

          <a ng-if="document.url" href="{{document.url}}" class="btn btn-default" target="_blank">follow url <i class="fa fa-link"></i></a>
          

        </div>
      </div>
      
        <!-- span ng-click="attachTag(document)">add tag</span -->
      <div class="content">
      {{document.text}}
      </div>
    </div>
    <!-- endof:big document -->
  </div>
  <div class="col-sm-6">
    <!-- document segments table -->
    <div class="btn-toolbar" role="toolbar">
      
      <div class="btn-group">

        <div  dropdown is-open="orderBy.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
            {{orderBy.choice.label}} <span class="fa fa-angle-down"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="choice in orderBy.choices">
              <a ng-click="changeOrderBy(choice)">{{choice.label}}</a>
            </li>
              </ul>
        </div>

      </div>

      <pagination class="btn-group" max-size="5" items-per-page="limit" boundary-links="true" total-items="totalItems" ng-model="$parent.$parent.page" ng-change="changePage($parent.$parent.page)"></pagination>
    </div>

    <concepts toggle="" data="clusters" groups="groups" measure="measure"><div class="viewer"></div></concepts>
  </div>
</div>