<h2>{{localCorpus.name||corpus.name}}</h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    
    <a ng-href="#/corpus/{{corpus.id}}/documents">
        {{corpus.count.documents}} documents
    </a>
  </li>
  <li role="presentation">
    <a ng-href="#/corpus/{{corpus.id}}/concepts">
        {{corpus.count.clusters}} concepts
    </a>
  </li>
  <li role="presentation">
    <a ng-href="#/corpus/{{corpus.id}}/stopwords">
      stopwords list
    </a>
  </li>
</ul>


<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
  
    
   <a class="btn btn-default" href="#/corpus/{{corpus.id}}/documents/new" style="text-indent: 0">
      <span>add document</span> <i class="fa fa-plus"></i>
    </a>
    <div class="uploader btn btn-default" ng-file-select="onFileSelect($files)" data-multiple="true">
      <span>upload</span> <i class="fa fa-upload"></i>
    </div>
  
  </div>
  <div class="btn-group">

    <a class="btn btn-default"  ng-href="/api/export/corpus/{{corpus.id}}/document?filters={{filters|json}}">
      <span>export</span> <i class="fa fa-download"></i>
    </a>
    <div class="uploader btn btn-default"  ng-file-select="onMetadataSelect($files)" data-multiple="false">
      <span>import</span> <i class="fa fa-upload"></i>
    </div>
    
  </div class="btn-group">
  <div class="btn-group">

    <div dropdown is-open="isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        start analysis <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a ng-click="executeCommand('alchemy', corpus)">assign auto tag</a>
        </li>
        <li>
          <a ng-click="executeCommand('harvest', corpus)">start TF analysis</a>
        </li>
        <li>
          <a ng-click="executeCommand('tfidf', corpus)">start TF/TFIDF analysis</a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div>
  <span ng-repeat="(key, item) in filtersItems">
    {{item.name}} <i class="fa fa-remove" ng-click="removeFilter(key, item.filter)"></i>
  </span>
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" dropdown is-open="orderBy.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        {{orderBy.choice.label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in orderBy.choices">
          <a ng-click="changeOrderBy(choice)">{{choice.label}}</a>
        </li>
      </ul>
    </div>
      
  
    <pagination class="btn-group" max-size="5" items-per-page="limit" boundary-links="true" total-items="totalItems" ng-model="$parent.$parent.page" ng-change="changePage($parent.$parent.page)"></pagination>
    <!-- pagination behaviour create a specific controller. that's why parent.parent, in order to match page model in coreController ... aje-->

</div>

<div ng-repeat="doc in items" >
  <div class="item">
    <div style="width:36px;float:left"><span class="language">{{doc.language}}</span><br/>
      <span class="action" tooltip="remove this document" ng-click="remove(doc)"><i class="fa fa-trash"></i>
    </div>
    <div style="margin-left:36px">
      <h4><span>{{doc.date|date:'dd MMM yyyy'}}</span> <a href="#/document/{{doc.id}}">{{doc.name}}</a></h4>
      <span class="tag type-of-media" ng-repeat="tag in doc.tags.type_of_media" ng-click="changeFilter('tags__slug', tag.slug, tag)" tooltip="{{tag.name}}">{{tag.name|tag}} </span>

      <span class="tag actor" ng-repeat="tag in doc.tags.actor" ng-click="changeFilter('tags__slug', tag.slug, tag)" tooltip="{{tag.name}}">{{tag.name|tag}} </span>
      <div class="abstract">
      {{doc.abstract}}
      </div>
    </div>
  </div>
</div>
