<h2>{{localCorpus.name||corpus.name}}</h2>
<h4>documents</h4>
<div>
  <span ng-repeat="(key, item) in filtersItems">
    {{item.name}} <i class="fa fa-remove" ng-click="removeFilter(key, item.filter)"></i>
  </span>
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" style="margin: 20px 0; text-align: right" dropdown is-open="orderBy.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        {{orderBy.choice.label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in orderBy.choices">
          <a ng-click="changeOrderBy(choice)">{{choice.label}}</a>
        </li>
      </ul>
    </div>
      
  
    <pagination class="btn-group" max-size="5" items-per-page="limit" boundary-links="true" total-items="totalItems" ng-model="$parent.$parent.page" ng-change="changePage($parent.$parent.page)"></pagination>
    <!-- pagination behaviour create a specific controller. that's why parent.parent, in order to match page model in coreController ... aje-->

</div>

<div ng-repeat="doc in items" >
  <div class="item">
    <div style="width:36px;float:left"><span class="language">{{doc.language}}</span><br/>
      <span class="action" tooltip="remove this document" ng-click="remove(doc)"><i class="fa fa-trash"></i>
    </div>
    <div style="margin-left:36px">
      <h4><span>{{doc.date|date:'dd MMM yyyy'}}</span> <a href="#/document/{{doc.id}}">{{doc.name}}</a></h4>
      
      <span class="tag" ng-repeat="tag in doc.tags.actor" ng-click="changeFilter('tags__slug', tag.slug, tag)" tooltip="{{tag.name}}">{{tag.name|tag}} </span>
      <div class="abstract">
      {{doc.abstract}}
      </div>
    </div>
  </div>
</div>
      <!--
        <div class="pure-g">
          <div class="pure-u-1-4">
            <span class="action" tooltip="remove file" ng-click="tag(doc)"><i class="fa fa-tags"></i></span>
          </div>
          <div class="pure-u-1-4">
            <a ng-if="doc.media" tooltip="download original file" class="action" ng-href="{{doc.media}}" download="{{doc.slug}}"><i class="fa fa-download"></i></a>
          </div>
          <div class="pure-u-1-4">
            <a tooltip="download text version" ng-if="doc.media_txt" class="action" ng-href="{{doc.media_txt}}" download="{{doc.slug}}"><i class="fa fa-file-text"></i></a>
          </div>
          <div class="pure-u-1-4">
            <span class="action" tooltip="remove file" ng-click="remove(doc)"><i class="fa fa-trash"></i></span>
          </div>
        </div>
        
      </div>
      <div style="margin-left:36px;margin-right:108px;display:block">
        <a ng-href="#/document/{{doc.id}}">{{doc.name}}</a>
        <span ng-if="doc.abstract" class="abstract">- {{doc.abstract}}</span>
      </div>
    </div>
  </div>
-->
