<h2>{{localCorpus.name||corpus.name}}</h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" >
    
    <a ng-href="#/corpus/{{corpus.id}}/documents">
        {{corpus.count.documents}} documents
    </a>
  </li>
  <li role="presentation">
    <a ng-href="#/corpus/{{corpus.id}}/concepts">
        {{corpus.count.clusters}} concepts
    </a>
  </li>
  <li role="presentation"  class="active">
    <a ng-href="#/corpus/{{corpus.id}}/stopwords">
      stopwords list
    </a>
  </li>
</ul>
<div class="row">
  <div class="col-sm-6">
    <div ui-ace="ace" readonly="{{lock}}" ng-model="stopwords"></div>
  </div>
  <div class="col-sm-6">
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="save()">save changes</button>
      <button class="btn btn-default">clean concepts</button>
    </div>
  </div>
</div>