<h2>{{localCorpus.name||corpus.name}}</h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" >
    
    <a ng-href="#/corpus/{{corpus.id}}/documents">
        {{corpus.count.documents}} documents
    </a>
  </li>
  <li role="presentation">
    <a ng-href="#/corpus/{{corpus.id}}/concepts">
        {{corpus.count.clusters}} concepts
    </a>
  </li>
  <li role="presentation"  class="active">
    <a ng-href="#/corpus/{{corpus.id}}/stopwords">
      stopwords list
    </a>
  </li>
</ul>

<form role="form">
<textarea class="form-control" ng-model="stopwords"></textarea>
</form>