<div class="menu" scroll-to-fixed margin-top="48" ng-include src="'/static/partials/helpers.menu.html'"></div>
<div class="menu">
  {{uploadprogress}} %
  <div class="dropupload" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="dragover"
                ng-show="dropSupported">drop files here</div>
          <div ng-file-drop-available="dropSupported=true" 
                ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
</div>
<div ng-repeat="doc in items">
  <div class="item">
    <div class="pure-g">
      <div class="pure-u-1-8"><span class="tag" ng-click="setProperty('language', doc.language)">{{doc.language}}</span></div>
      <div class="pure-u-3-8">
        <a ng-href="#/document/{{doc.id}}">{{doc.name}}</a>

      </div>
      <div class="pure-u-3-8 tags">
        <span ng-repeat="tag in doc.tags" class="tag">{{tag.name}} <i tooltip="detach from this document" class="fa fa-times-circle"></i></span>
        <span ng-click="__adding_tag = !__adding_tag" ng-show="!__adding_tag">+</span>
        <span ng-show="__adding_tag">

        <input type="text" ng-model="__tag_candidate"
              typeahead-loading="loadingLocations"
              typeahead="address as address.name for address in suggestTags('CA', $viewValue)"
              class="form-control typeahead-multi-input"
              typeahead-on-select="attachTag('CA', __tag_candidate, item)" 
              typeahead-wait-ms="150">
        </span>
      </div>
      <div class="pure-u-1-8">{{doc.date}}</div>
    </div>
  </div>
</div>