<div class="view">
  <div class="wrapper">
    <div scroll-to-fixed class="menu" margin-top="36">
        <div class="datetime">
          last data
        </div>
        <h2>
          monitor analysis activities {{corpus_id}}
        </h2>
        <h3>{{job.corpus.name}} {{job.completion}}</h3>
        <div class="tags">
          <span ng-show="{{document.language}}" class="tag language">{{document.language}}</span>
        </div>
        <button ng-click="start('test')" class="pure-button">launch test</button>
    </div>

    <div class="big-item">
      {{job.completion}} {{job.corpus.name}}
      {{job.document.name}}

      <div class="content code">
        <pre>{{log}}</pre>
      </div>
    </div>
  </div>
</div>