<div class="menu" scroll-to-fixed margin-top="36">
<div ng-include src="'/static/partials/helpers.menu.html'"></div>
  <div class="pure-g">
      <div class="pure-u-1-8" ng-click="toggleStatus(segment)">
        visible or not
      </div>
      <div class="pure-u-3-8">
        concept
      </div>
      <div class="pure-u-3-8">
       sample
      </div>
      <div class="pure-u-1-8">
        distribution
      </div>
      
    </div>

</div>

  <div class="item" ng-class="{{segment.status}}" ng-repeat="segment in items">
    <div class="pure-g">
      <div class="pure-u-1-8" ng-click="toggleStatus(segment)">
        <span class="tag">{{segment.status}}</span>
      </div>
      <div class="pure-u-3-8">
        <a ng-href="#/cluster/{{segment.id}}">{{segment.cluster}}</a>

      </div>
      <div class="pure-u-3-8">
          {{segment.content}}
      </div>
      <div class="pure-u-1-8">
        {{segment.distribution}}
      </div>
      
    </div>
  </div>