
{% load i18n %}
<!doctype html>
<html lang="en" ng-app="sven">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon" />
    
  <title>sven beta {% block title %}{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
  
  {% if ENABLE_CDN_SERVICES %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% else %}
  <link href="{{ STATIC_URL }}/css/font-awesome.css" rel="stylesheet">
  {% endif %}

  {% if DEBUG %}
  <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}/less/style.less" />
  <script src="{{ STATIC_URL }}/js/libs/less-1.7.0.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}/js/libs/offline.min.js" type="text/javascript"></script>
  {% else %}

  {% endif %}
</head>
<body>
  <header scroll-shadow>
    <div class="wrapper">
      <div class="bottom-line"></div>
      <h1 ng-controller="initCtrl">{{ SVEN_NAME }}</h1>
      <div ng-controller="notificationCtrl"></div>
      <div id="user" ng-controller="profileCtrl">
        {% verbatim %}
        <div class="picture"><img ng-src="{{profile.picture}}"></div>
        {% endverbatim %}
        <div class="username">
          {{user.username}} / 
          <a href="{% url 'sven_logout'%}">{% trans "logout"%}</a>
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    {% block sidebar %}
    <sidebar >
      <div class="wrapper" ng-controller="corpusListCtrl">
        {% verbatim %}
        <div>
        <form name="createCorpusForm" ng-submit="addTodo()">
          <input type="text" ng-model="name" />
        </form>
        </div>
        <ul class="nav">
          <li>add project <i class="fa fa-plus-circle"></i></li>
        </ul>

        <div class="corpus" ng-repeat="corpus in items">
          <div style="float: right; height: 12px; width: 24px; background-color: {{corpus.color}}"></div>
          <div><a href="#/corpus/{{corpus.id}}">{{corpus.name}} #{{corpus.id}} {{corpus.color}}</a>
            <div class="name">{{corpus.count.documents}} documents, {{corpus.count.owners}} users</div>
          </div>
        </div>
        {% endverbatim %}
      </div>
    </sidebar>
    {% endblock %}

    {% block page %}
    <div ng-view></div>
    {% endblock %}

    {% block footer %}
    <footer></div>
    {% endblock %}

    <script src="{{ STATIC_URL }}/js/libs/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/libs/plugins/jquery.toastmessage.js"></script>
    
    <!-- In production use: -->
    {% if DEBUG %}
      {% if ENABLE_CDN_SERVICES %}
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}/js/libs/angular.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-route.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-resource.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-file-upload.min.js"></script> 
      {% endif %}
    <script src="{{ STATIC_URL }}/js/app.js"></script>
    <script src="{{ STATIC_URL }}/js/services.js"></script>
    <script src="{{ STATIC_URL }}/js/controllers.js"></script>
    <script src="{{ STATIC_URL }}/js/filters.js"></script>
    <script src="{{ STATIC_URL }}/js/directives.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}/js/sven.min.js"></script>
    {% endif %}
    
  
  </div>
</body>
</html>