
{% load i18n %}
<!doctype html>
<html lang="en" ng-app="sven">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon" />
    
  <title>sven beta {% block title %}{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
  
  {% if ENABLE_CDN_SERVICES %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% else %}
  <link href="{{ STATIC_URL }}/css/font-awesome.css" rel="stylesheet">
  {% endif %}

  {% if DEBUG %}
  <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}/less/style.less" />
  <script src="{{ STATIC_URL }}/js/libs/less-1.7.0.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}/js/libs/offline.min.js" type="text/javascript"></script>
  {% else %}

  {% endif %}
</head>
<body>
  <header scroll-shadow>
    <div class="wrapper">
      <div class="bottom-line"></div>
      <h1 ng-controller="initCtrl">{{ SVEN_NAME }}</h1>
      <div ng-controller="notificationCtrl"></div>
      <div id="user" ng-controller="profileCtrl">
        {% verbatim %}
        <div class="picture"><img ng-src="{{profile.picture}}"></div>
        {% endverbatim %}
        <div class="username">
          {{user.username}} | 
          <a href="{% url 'sven_logout'%}">{% trans "logout"%}</a>
          {% if user.is_staff %}|
          <a href="{% url 'admin:index' %}">{% trans "admin"%}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    {% block sidebar %}
    <sidebar >
      <div class="wrapper" ng-controller="corpusListCtrl">
        {% verbatim %}
        <div id="create-corpus-form">
          <form name="createCorpusForm" ng-submit="addTodo()">
            <input type="text" ng-model="name" />
          </form>
        </div>
        <ul class="nav">
          <li ng-click="showCreate()">add project <i class="fa fa-plus-circle"></i></li>
        </ul>

        <div class="corpus" ng-repeat="corpus in items">
          <div style="float: right; height: 12px; width: 24px; background-color: {{corpus.color}}"></div>
          <div><a href="#/corpus/{{corpus.id}}/documents">{{corpus.name}} #{{corpus.id}} {{corpus.color}}</a>
            <div class="name"><a href="#/corpus/{{corpus.id}}/documents">{{corpus.count.documents}} documents</a>, {{corpus.count.owners}} users</div>
          </div>
        </div>
        {% endverbatim %}
      </div>
    </sidebar>
    {% endblock %}

    {% block page %}
    <div class="view-nav" ng-controller="corpusCtrl">
      {% verbatim %}
      <div class="wrapper">
        <div ng-show="corpus.job.status=='RUN'" class="bar-wrapper ng-hide">
          <div class="bar" style="width:{{corpus.job.completion}}%">
            <div class="bar-label">{{corpus.job.completion}}%</div>
          </div>
        </div>
        <div class="floating circle" style="background-color: {{corpus.color}}"></div>
        <div class="floating">
          <h2>{{ccorpus.id}}{{ccorpus.name}}{{corpus.name}}</h2>
          <h3>{{corpus.count.documents}} documents, {{corpus.count.owners}} users, <a href="#/corpus/{{corpus.id}}/segments">segments</a></h3>
        </div>
          
        <div ng-if="corpus.job.status!='RUN'" style="float:left; margin: 2px 24px">
          <button ng-click="start('harvest')">extract</button>
          <button ng-click="start('reset')">clean</button>
        </div>
        <div style="float: left;" ng-if="corpus.job.status!='RUN'">
          <!-- input type="text" ng-model="myModelObj" -->
          <!-- input type="file" ng-file-select="onFileSelect($files)" multiple -->
          <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                ng-show="dropSupported">drop files here</div>
          <div ng-file-drop-available="dropSupported=true" 
                ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
          <!-- div d3-bars bar-height="20" bar-padding="5"></div -->
        </div>

        <div class="clear"></div>
        <div class="bottom-line"></div>
      </div>
      {% endverbatim %}
    </div>
    <div ng-view></div>
    {% endblock %}

    {% block footer %}
    <footer></div>
    {% endblock %}

    <script src="{{ STATIC_URL }}/js/libs/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/libs/plugins/jquery.toastmessage.js"></script>
    
    <!-- In production use: -->
    {% if DEBUG %}
      {% if ENABLE_CDN_SERVICES %}
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-file-upload.min.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}/js/libs/angular.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-route.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-resource.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-animate.min.js"></script>
      <script src="{{ STATIC_URL }}/js/libs/angular-file-upload.min.js"></script> 
      {% endif %}
    <script src="{{ STATIC_URL }}/js/app.js"></script>
    <script src="{{ STATIC_URL }}/js/services.js"></script>
    <script src="{{ STATIC_URL }}/js/controllers.js"></script>
    <script src="{{ STATIC_URL }}/js/filters.js"></script>
    <script src="{{ STATIC_URL }}/js/directives.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}/js/sven.min.js"></script>
    {% endif %}
    
  
  </div>
</body>
</html>