{% extends 'sven/index.html'%}
{% load i18n %}

{% block page%}

<div id="login-form">
  <h1>{{ SVEN_NAME}}</h1>
  <form class="pure-form" method="POST" action="{% url 'sven_login' %}">
    <fieldset class="pure-group">
      <input id="id_login_username" type="text" autofocus="autofocus" name="username" class="pure-input-1" maxlength="64" placeholder="{% trans "username" %}" />
      <input id="id_login_password" type="password" placeholder="{% trans "password" %}" name="password" class="pure-input-1"  maxlength="64" />
      <button class="boo pure-button pure-input-1 pure-button-primary">{% trans "login" %} <i class="fa fa-unlock"></i></button>
    </fieldset>
    <input type="hidden" value="{{ next }}" name="next" />
    {% csrf_token %}
              
                
    
                
  </form>
</div>
{%endblock%}